body {

// background-color: #550000 ;
background-color: #AA3939;
font-size: 3ch;
font-family: "oswald";
color: #AA3939 ;
}

#intro{

	// border: 2px solid #444;
	height: 20vh;
	width: 80vw;
	margin: auto;
	color: #f4f4f4;
	font-size: 200%;
	text-transform: uppercase;
	padding: 5vw;
	// margin-bottom: 40vh;
}


#gridIntro{

	// border: 2px solid #444;
	height: 20vh;
	width: 80vw;
	margin: auto;
	color: #f4f4f4;
	font-size: 200%;
	text-transform: uppercase;
	padding: 1ch;
}
#start{

	margin-top:  3ch;
}

// #miniHolder{
// // height: 40vh;
// border: .2em solid #444;

// display: grid;
// height: 75vh;
// width: 90vw;
// margin:5vw;
// grid-template-columns:
// [left-start] 25vw
// [middle-start] 25vw
// [right-start] 25vw;

// grid-template-rows: 
//    [row1-start] 25vh
//     [row2-start] 25vh
//     [row3-start] 25vh;
// grid-gap: 2.9em;
// margin-bottom: 10vh;
// }

.holder{
display: grid;
height: 80vh;
width: 90vw;
margin:5vw;
grid-template-columns:
[left-start] 30vw
[middle-start] 35vw
[right-start] 10vw;

grid-template-rows: 
   [row1-start] 15vh
    [row2-start] 10vh
    [row3-start] 50vh;
opacity: 0;
scale: .1;
margin-bottom: 20vh;
grid-gap: 1.5em;
// border: .2em solid #444;
}

#simGrid{

	display: grid;
height: 75vh;
width: 90vw;
margin:5vw;
grid-template-columns:
[left-start] 30vw
[middle-start] 30vw
[right-start] 30vw;

grid-template-rows: 
   [row1-start] 20vh
    [row2-start] 20vh
    [row3-start] 20vh;
// scale: .1;
margin-bottom: 10vh;
grid-gap: 3.5em;
// border: .2em solid #444;
}

.miniHolder{
	// margin: 0;
	// width: 10vw;
	background-color: rgba(252, 252, 252, .2);
	float: left;
}


// .simulacrum{
// }

// .color-primary-0 { color: #AA3939 }	/* Main Primary color */
// .color-primary-1 { color: #FFAAAA }
// .color-primary-2 { color: #D46A6A }
// .color-primary-3 { color: #801515 }
// .color-primary-4 { color: #550000 }
.title {
font-size: 130%;
width: 85%;
margin-left: 0;
grid-column: left-start/span 1;
grid-row: row1-start/span 1;
// border: 2px solid #f4f4f4;
// color: #fcfcfc;
color: #550000;
}

.description{
font-weight: 200;
font-size: 80%;
grid-column: middle-start/span 2;
grid-row: row1-start/span 1 ;
// width: 60%;
// border: 2px solid #f4f4f4;
color: #FFAAAA;
letter-spacing: .1em;
line-height: 1.1em;


}


.instruction{
font-size:80%;
grid-column: left-start/span 2;
grid-row: row2-start/span 1;
// border: 2px solid #f4f4f4;
// background-color: #550000;
color: #FFAAAA;
// color: #FFFFF8;
background-color: #550000;
font-weight: 200;
text-align: center;
letter-spacing: .3em;
line-height: 1.1em;

text-transform: uppercase;
// height: 70%;
  box-sizing: border-box;
    // padding: 10px;
padding: 1.5em;
// margin: .5em;
// text-shadow: 0em .1em #550000;
// margin: .5ch;



}

.instruction * {

	padding: 12.5em;
}


.media{
grid-column: left-start/span 4;
grid-row: row3-start/span 1;
background-color: #fcfcfc;
}