/*.rgba-primary-0 { color: rgba( 46,100,142,1) }	
lightest { color: rgba(130,171,202,1) }
.rgba-primary-2 { color: rgba( 75,125,163,1) }
.rgba-primary-3 { color: rgba( 23, 77,117,1) }
darkest { color: rgba(  6, 52, 87,1) }*/

/*rgba(141, 192, 231, 1)*/

body {
background-color: rgba(  6, 52, 87,1);
font-size: 3ch;
font-family: "oswald";
color: rgba(141, 192, 231, 1);

}

#intro{
position: relative;
width: 80vw;
margin: auto;
/*color: rgba(  6, 52, 87,1) ;*/	
font-size: 200%;
text-transform: uppercase;
padding: 5vw;
}


#start{
margin-top:  3ch;
}

#simGrid{
position: relative;
display: grid;
grid-template-columns: repeat(3, 28vw);
width: 80vw;
margin:5vw;
grid-gap: 1.5em;
}

.miniHolder{
	height: 30vh;
	margin: 2em;
	background-color:  rgba( 23, 77,117,.4);
	box-shadow: 0em 0em 0em  rgba( 23, 77,117,1);
	// border: 0em solid rgba( 75,125,163,1);
	border: 0em solid rgba( 23, 77,117,.4);
}

.miniTitle{
	font-size: 120%;

}

.miniMedia{
height: 100%;	
margin-top: .5em;

}
#grid {

background-color: rgba( 23, 77,117,1);
margin-top: 20vh;
}

.holder{
position: relative;
display: grid;
height: 80vh;
width: 80vw;
// margin:5vw;
padding: 9vh;
grid-template-columns:
[left-start] 30vw
[middle-start] 35vw
[right-start] 10vw;

grid-template-rows: 
   [row1-start] 10vh
    [row2-start] 10vh
    [row3-start] 50vh;
opacity: 0;
// scale: .1;
// margin: 9vw;
margin-bottom: 20vh;
grid-gap: 1.5em;
box-shadow: 0em 0em 0em #fcfcfc;

// border: .2em solid #444;
}

.title {
font-size: 140%;
width: 85%;
margin-left: 0;
grid-column: left-start/span 1;
grid-row: row1-start/span 1;
// border: 2px solid #f4f4f4;
/*color: #AA3939;*/
color: rgba(141, 192, 231, 1);
// rgba(130,171,202,1)
}

.description{
// font-weight: 200;
font-size: 90%;
grid-column: middle-start/span 1;
grid-row: row1-start/span 2;
// color: #fcfcfc;
color: rgba(141, 192, 231, 1);

// font-family: 'Work Sans', sans-serif;
// color: rgba( 75,125,163,1);
// color: rgba(  6, 52, 87,1);
// letter-spacing: .1em;
line-height: 1.1em;
// background-color: rgba(130,171,202,.3);


}


.instruction{
font-size:70%;
grid-column: left-start/span 1;
grid-row: row2-start/span 1;
// border: 2px solid #f4f4f4;
// background-color: #550000;
color: rgba(141, 192, 231, 1);
// color: #FFFFF8;
// background-color: rgba(248, 248, 165, .9);
background-color: rgba(130,171,202,.3);
font-weight: 200;
text-align: center;
letter-spacing: .2em;
line-height: 1.1em;

text-transform: uppercase;
// height: 70%;
  box-sizing: border-box;
    // padding: 10px;
padding: 1em;
// margin: .5em;
// text-shadow: 0em .1em #550000;
// margin: .5ch;



}

.instruction * {

	padding: 12.5em;
}


.media{
grid-column: left-start/span 4;
grid-row: row3-start/span 1;
background-color: #fcfcfc;
}

